{% extends "layout.html" %}
{% block content %}
    <!-- Navbar -->
    <header id="Title">
        <div class="container pt-2 pb-2">
            <h1 align="center">Water My Plants Doing?<h1>
            <h4 align="center">
                A simple application to monitor the moisture level of my plants' soil.
            </h4>
        </div>
    </header>

    <header id="Content">
        <div class="container">
            <div class="row">
                <!-- Left Content Area -->
                <div class="col" align="center">
                    <div class="row">
                        <div class="col">
                            <img class="Content-Photo" src="Static/bonsai.jpeg">
                        </div>

                        <div class="col">
                            {% if bonsai > 750%}
                                <div class="panel pt-5 status bg-primary h-100 justify-content-center align-items-center">
                                    <div class="panel-heading">
                                        <h1 class="panel-title text-center">ALL GOOD</h1>
                                    </div>
                                    <div class="panel-body text-center">
                                        <strong>BONSAI IS WATERED!</strong>
                                    </div>
                                    <div class="text-center">
                                        <br><br>
                                        The capactive moisture sensor is currently reading a unitless measurement of:
                                        <br><br>
                                        {{ bonsai }}
                                        <br><br>
                                        Bone dry would read ~200 while extremely wet would read ~2000.
                                    </div>
                                </div>
                            {% else %}
                                <div class="panel pt-5 status bg-danger h-100 justify-content-center align-items-center">
                                    <div class="panel-heading">
                                        <h1 class="panel-title text-center">NOT GOOD</h1>
                                    </div>
                                    <div class="panel-body text-center">
                                        <strong>WATER MY BONSAI!!!</strong>
                                    </div>
                                    <div class="text-center">
                                        <br><br>
                                        The capactive moisture sensor is currently reading a unitless measurement of:
                                        <br><br>
                                        {{ bonsai }}
                                        <br><br>
                                        Bone dry would read ~200 while extremely wet would read ~2000.
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Right Content Area -->
                <div class="col" align="center">
                    <div class="row">
                        <div class="col">
                            <img class="Content-Photo" src="Static/bigboi.jpeg">
                        </div>
                        <div class="col">
                            {% if bigboi > 750 %}
                                <div class="panel pt-5 status bg-primary h-100 justify-content-center align-items-center">
                                    <div class="panel-heading">
                                        <h1 class="panel-title text-center">ALL GOOD</h1>
                                    </div>
                                    <div class="panel-body text-center">
                                        <strong>BIG BOI IS WATERED!</strong>
                                    </div>
                                    <div class="text-center">
                                        <br><br>
                                        The capactive moisture sensor is currently reading a unitless measurement of:
                                        <br><br>
                                        {{ bigboi }}
                                        <br><br>
                                        Bone dry would read ~200 while extremely wet would read ~2000.
                                    </div>
                                </div>
                            {% else %}
                                <div class="panel pt-5 status bg-danger h-100 justify-content-center align-items-center">
                                    <div class="panel-heading">
                                        <h1 class="panel-title text-center">NOT GOOD</h1>
                                    </div>
                                    <div class="panel-body text-center">
                                        <strong>WATER THE BIG BOI!!!</strong>
                                    </div>
                                    <div class="text-center">
                                        <br><br>
                                        The capactive moisture sensor is currently reading a unitless measurement of:
                                        <br><br>
                                        {{ bigboi }}
                                        <br><br>
                                        Bone dry would read ~200 while extremely wet would read ~2000.
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
            <!-- Personal Site -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://zacharylevaton.github.io/" role="button" target=”_blank”>
                <i class="fa fa-smile"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/zachlevaton/" role="button" target=”_blank”>
                <i class="fab fa-linkedin-in"></i>
            </a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/zacharylevaton" role="button" target=”_blank”>
                <i class="fab fa-github"></i>
            </a>
            </section>
            <!-- Section: Social media -->

            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    A little pet project to make sure my plants don't die when I'm not around.
                    <br>
                    Feel free to check out my personal site, LinkedIn, and Github via the links above!
                </p>
            </section>
            <!-- Section: Text -->

        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
{% endblock content %}
