#Title, #Content {
    width: 100%;
}

#Content {
    text-align: center;
}

.Content-Photo {
    width: 40vh;
    height: 60vh;
}

.Content-Status {
    height: 20vh
}

.Content-Graph {
    height: 60vh
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
